<h1>Mutaciones</h1>
<hr>

<div class="row">
  <div class="col-6">

    <input
      #txtEmail
      type="text"
      class="form-control mb-2"
      (input)="onFieldUpdated('email', txtEmail.value )"
      [value]="user().email"
    >

    <input
      #txtFirstName
      type="text"
      class="form-control mb-2"
      (input)="onFieldUpdated('first_name', txtFirstName.value )"
      [value]="user().first_name"
    >

    <input
      #txtLastName
      type="text"
      class="form-control mb-2"
      (input)="onFieldUpdated('last_name', txtLastName.value )"
      [value]="user().last_name"
    >


  </div>

  <div class="col-6">
    <!-- data del usuario -->
    <pre>{{ user() | json }}</pre>

    {{ fullName() }}


    <button (click)="increaseBy(+1)" class="btn btn-primary">
      +1
    </button>
  </div>
</div>
